.CharactersList{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.Character{
display:flex
}

.Character-content{
    margin-left:2rem
}

.Character-episode{
    margin-top: 2rem
}